button {
    border: none;
    background-color: #00B4D8;
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
  }
  
  button:hover {
    background-color:#03045E;
  }
  
  .equals {
    grid-column: 3 / 5;
    background-color: #90E0EF;
  }
  
  .equals:hover {
    background-color:#03045E;
  }